{% extends "layout.html" %}
{% block content %}
<h1>In memory of Sake</h1>
<p>Unfortunately, our pets are not able to tell is when they are not feeling well. By the time we observe some symptoms, the disease may already developed to the later stage. If possible, pet collar with sensor to monitor the breathing sounds could be developed for early detection before it's too late. </p>

<p>My two-year old handsome boy, Sake, was diagnosed with heart disease and passed away on May 24th, 2019. Before that, he did the annual physical exam about half a year ago. By that time, everything seemed fine. Until one day, we observed he wasn't interested in the daily treats. We immediately sent him to the emergency and he was diagnosed with heart disease and it has already developed to the late stage. He started to have heart failure after two days treatment in the oxygen chamber. Eventually, Sake passed away. Everything just happened so fast before we realized that Sake left us forever. Hope this work on the human respiratory sounds could inspire people to apply it on the pets in the near future. </p>



<div><img src="../static/sake.jpeg", width=400></div>


{% endblock content %}